@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  /* max-width: 100%; */
}

body {
  display: flex;
  justify-content: center;
}

.bmds-container {
  width: 1600px;
  display: flex;
  border: 1px solid #e7e6e6;
}

.content-wrapper {
  width: 100%;
}

.common-title-box {
  color: #a84ea4;
  font-size: 20px;
  text-align: center;
  height: 50px;
  line-height: 48px;
  border: 2px solid #a84ea4;
  background: #fff;
}