@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  /* max-width: 100%; */
}

body {
  display: flex;
  justify-content: center;
}

.bmds-container {
  width: 1600px;
  display: flex;
  border: 1px solid #e7e6e6;
}

.content-wrapper {
  width: 100%;
}
