.content-container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-header {
  display: flex;
  padding-right: 30px;
}

.content-section-number {
  width: 100px;
  padding-top: 20px;
}

.content-header-right {
  flex: 1;
}

.bmds-logo {
  text-align: right;
}

.content-section-en-title {
  color: #aeaeae;
}

.content-wrapper {
  padding-right: 30px;
}

.content-wrapper .content-section-title {
  font-size: 24px;
}

.content-section-en-title,
.content-section-title {
  margin-bottom: 10px;
}

.description {
  height: 53px;
  line-height: 53px;
  background: #ece2ee;
  padding: 0 20px;
  border-radius: 5px;
}
